:root {
    --white-color: #FFF;
    --main-color: #46B1DE;
    --shadow-color: #1B1D1F;
  }
  
@font-face {
    font-family: "Sofia Sans";
    font-display: swap;
    src: url("../fonts/AnyConv.com__SofiaSans.woff") format("woff"), 
         url("../fonts/AnyConv.com__SofiaSans.woff2") format("woff2");
  }

@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local(''),
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'); 
  }
 
@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: local(''),
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-500.woff') format('woff'); 
  }
  
@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: local(''),
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-700.woff') format('woff'); 
}
  
@font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        src: local(''),
         url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-900.woff') format('woff'); 
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto'; 
}

a {
    text-decoration: none;
    color:var(--shadow-color);
}

.conteiner {
    width: 1180px;
    margin: 0 auto;
    max-width: 97%; 
}

@media(max-width: 992px){
    .conteiner{
       width: 992px;    
       max-width: 97%;        
    } 
}

@media(max-width: 480px){
    .conteiner{
        width: 480px;        
        max-width: 97%;
    } 
}

/* ******************header****************** */

.header-wrap {
    display: flex; 
    justify-content:space-between;
    position: absolute;
    top: 60px;
    z-index: 1;   
    max-width: 97%;    
}

 @media(max-width: 992px){
    .header-wrap{
        width: 992px;
        max-width: 97%;        
}
}

@media(max-width: 480px){
    .header-wrap{
        width: 480px;
        max-width: 97%;
        top: 44px;     
}
}

.header_vithout_language{
    display: flex;
    justify-content:space-between;
    width: 1080px;
    max-width: 97%;    
}


/* *************header logo************** */

.heder-logo {
    display: flex;
    align-items: center;
    font-family: "Sofia Sans";
    font-weight: 400;
    line-height: 140%;
    color:var(--main-color); 
    gap: 10px;  
}

@media(max-width: 480px){
    .logo-tooth {
        width: 40px;    
}
}

.logo-text {
    font-size: 38px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media(max-width: 480px){
    .logo-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;    
}
}

.dentist {
    font-size: 27px;
}

@media(max-width: 480px){
    .dentist {
        font-size: 15px;  
}
}

/* ************header navigation************ */

.navigation {
    display:grid;
    grid-template-columns: repeat(3, auto);
    gap: 80px;
    padding-top: 18px; 
    max-width: 97%; 
}

@media(max-width: 992px){
    .navigation{
        grid-template-columns: repeat(1, auto);
        gap: 15px;    
}
}

@media(max-width: 630px){
    .navigation{
       display: none;     
}
}

.li_navigation_header:hover {
    color:var(--main-color);
}

/* ***************header phone*************** */

.phone-header { 
    padding-top: 18px;
}

@media(max-width: 480px){
    .phone-header{
        padding-top: 0px;          
}
}

.nomer-header {
    position: relative;
    font-size: 16px;
    line-height: 19px;
}

.nomer-header::before{
    content: "";
    position: absolute;
    top: -2.5px;   
    left: -30px;
    width: 24px;
    height: 24px;
    background-image: url(../img/img-main/-phone-in-talk_90490\ 1.svg);
    background-size: contain;
}

@media(max-width: 480px){
    .nomer-header{
        font-size: 15px;
        padding-left: 5px;
}
}

.language {
    display: flex;
    padding-left: 23px;
    color:var(--shadow-color);
    padding-top: 18px;
    font-size: 20px;
    line-height: 23px;
}

@media(max-width: 992px){
    .language{
       display: none;     
}
}

@media(max-width: 480px){
    .language{
       display: none;     
}
}

.EN {
    font-weight: 400;
    padding-left: 22px;   
} 

.UA {   
    font-weight: 700;
    position: relative;     
}

.UA::after {
    content: "";
    position: absolute;
    border: 1px solid #1B1D1F;
    right: -11px;
    width: 0px;
    height: 22px;
}

/* ****************main page***************** */

.background {
    background-image: url(../img/img-main/lady.png) ,url(../img/img-main/Rectangle\ 1.png);
    height:663px;
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size:650px, cover; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;      
}

@media(max-width: 480px){
    .background{
        background-position: center bottom, left top;
        background-size:280px, cover;           
}
}

.main-page {
    margin-top: 185px;
    max-width: 480px;
    color:var(--shadow-color);       
}

@media(max-width: 480px){
    .main-page{
        margin-top: 135px;
        text-align: center;
        padding: 0px 25px;         
}
}
 
.h1-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.1em;
}

@media(max-width: 480px){
    .h1-title {
        font-size: 32px;          
}
}

.h1_dental {   
    color:var(--main-color); 
}

.text-discr {
    margin-top: 30px;
    line-height: 140%;
    font-size: 16px;
}

/* ****************buttons***************** */

.buttons {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 19px;
    margin-top: 48px;
}

@media(max-width: 992px){
    .buttons{
        margin-top: 20px;    
}
}

@media(max-width: 480px){
    .buttons{
        font-size: 16px;
}
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;  
    color:var(--white-color);
    padding: 16.5px 67px;
}

@media(max-width: 480px){
    .call{ 
        padding: 11.5px 57px;       
}
}

.services {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 16.5px 46.5px;
    background:var(--white-color);
    mix-blend-mode: normal;
    border: 1px solid #DDE0DC;
    box-shadow: 0px 2px 10px #DDE0DC;
    border-radius: 8px;
    color:var(--main-color);    
}  

@media(max-width: 480px){
    .services{ 
        padding: 11.5px 36.5px;       
}
}

/* *************three-blocks************* */

.three-blocks {
    display: grid;
    grid-template-columns: repeat(3, auto);  
    gap: 70px;
    justify-items: center;
    position: relative;
    bottom: -50%;
    top: 50%;
    transform: translate(0,-50%);
}

@media(max-width: 1100px){
    .three-blocks{
        gap: 20px;              
}
}

@media(max-width: 680px){
    .three-blocks{
        grid-template-columns: repeat(1, auto);
        gap: 5px;
        transform: translate(0,-5%); 
}
}

.block-bottom{
    display: flex;
    padding: 21px 0;
    width: 280px;
    max-width: 98%;       
    background:var(--white-color);
    border: 1px solid #D8E1E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

@media(max-width: 992px){
    .block-bottom{
        width: 70% ;
        height: 100%;
}
}

.nomber-bottom {   
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 65px;
    line-height: 76px;
    color:var(--main-color);
    padding: 0 15px;         
}

@media(max-width: 992px){
    .nomber-bottom{       
        font-size:40px;
        padding: 0 5px;
}
}

.block_text {
    display: flex;
    align-items: center;        
    font-size: 14px;
    line-height: 16px;
    color:var(--shadow-color);
}

@media(max-width: 992px){
    .block_text{       
        font-size:70%;
}
}

/* *************text-why ************* */

.text-why h2 {
    text-align: center;   
    font-size: 34px;
    line-height: 130%;
    margin-top: 30px;
    color:var(--shadow-color);
}

.text-why h2 span {
    font-weight: 600;
    color:var(--main-color);
}

.text-why p {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000000;
    margin-top: 5px;
}

/* ***************six boxes************* */

.block-with-boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px 40px;
    width: 1020px;
    max-width: 97%;
    height: 396px;
    background: #A1C7D4;
    border-radius: 12px;
    padding: 16px 20px;
    margin-top: 50px;    
}

@media(max-width: 1100px){
    .block-with-boxes{
        max-width:97%;       
        align-items: center; 
        gap: 5px 10px; 
        padding: 16px 1px;      
}
}

@media(max-width: 992px){
    .block-with-boxes{
        width: 992px;
        height: 100%;
        align-items: center; 
        gap: 12px 20px;       
}
}

.flex-center {
    display: flex;
    justify-content: center;
}

.box {
    background:var(--white-color);
    border-radius: 8px;
    width: 300px;
    height: 176px; 
    padding: 10px 20px; 
}


@media(max-width: 992px){
    .box{
        width: 97%;
        height: 97%;   
}
}

.inbox {
    display: flex;
    color:var(--main-color);   
}

.nomber {
    font-size: 40px;
    line-height: 47px;
    height: 56px;
    display: flex;      
}

.nombertext {
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;   
}

.box p {
    margin-top: 17px;
    font-size: 16px;
    line-height: 19px;
    color:var(--shadow-color);
}

/* *************tooth_big************ */

.h2_befor_tooth {
    color: var(--shadow-color);
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    margin-top: 90px;
}

.h2_befor_tooth span {
    color: var(--main-color);
    font-weight: 500;
}

.wrapper_big_tooth {
    display: flex;
    justify-content: center;
    margin-top: 70px; 
    font-size: 16px;
    line-height: 19px;
    padding: 0 10px;   
}

.container_for_tooth {
    width:302px;
    height: 302px;    
}

.big_tooth_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

@media(max-width: 992px){
    .big_tooth_img{
        z-index: -1;
        opacity: 0.7;
    } 
}

@media(max-width: 480px){
    .big_tooth_img{
        opacity: 0.7;
    } 
}

.tooth_circle {
    border: 1px solid #1B1D1F;
    border-radius: 50%;
    width:100%;
    height:100%;
    position: relative;
    z-index: -2;   
}

@media(max-width: 1235px){
    .tooth_circle{
        opacity: 0.4;
    } 
}

.point_around {
    width: 24px;
    height: 24px;
    background-color:var(--main-color);
    border-radius: 50% 50%;
    position: absolute;
    left: -12px;
    top: 139px;
    transform-origin:162px 50%;
}

@media(max-width: 1235px){
    .point_around{
        opacity: 0.7;
    } 
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:"Sofia Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:var(--white-color);   
}

.point_around--1 {
    transform: rotate(45deg);   
}

.plus--1 {
    transform:translate(-50%,-50%) rotate(45deg);
}

.point_around--2 {
    transform: rotate(135deg);   
}

.plus--2 {
    transform:translate(-50%,-50%) rotate(45deg);
}

.point_around--3 {
    transform: rotate(315deg);   
}

.plus--3 {
    transform:translate(-50%,-50%) rotate(45deg);
}

.point_around--4 {
    transform: rotate(180deg);   
}

.point_around--5 {
    transform: rotate(225deg);   
}

.plus--5 {
    transform:translate(-50%,-50%) rotate(45deg);
}

/* *************block_around_tooth************ */

.wrapper_block_around_tooth_left {
    position: absolute;
    left: 160px;

}

@media (max-width: 720px){
    .wrapper_block_around_tooth_left {
        left: 40px;
    }
}

@media (max-width: 430px){
    .wrapper_block_around_tooth_left {
        left: 20px;
    }
}

.wrapper_block_around_tooth_right {
    position: absolute;
    right: 160px;
}

@media (max-width: 720px){
    .wrapper_block_around_tooth_right {
        right: 40px;
    }
}

@media (max-width: 430px){
    .wrapper_block_around_tooth_right {
        right: 20px;
    }
}

.wrapper_big_tooth h3 {
    font-weight: 500;
    font-size: 20px;
    font-size: 20px;
    line-height: 135%;
    color: var(--main-color);
}

.wrapper_big_tooth p {
    font-size: 16px;
}

@media (max-width: 992px){
    .wrapper_big_tooth h3 {
        font-size: 16px; 
        padding: 5px;    
    }
}

@media (max-width: 480px){
    .wrapper_big_tooth h3 {
        font-size: 15px;  
        padding: 5px; 
    }
}

@media (max-width: 992px){
    .wrapper_big_tooth p {
        font-size: 14px;
        padding: 5px;        
    }
}

@media (max-width: 480px){
    .wrapper_big_tooth p {
        font-size: 12px; 
        padding: 5px;       
    }
}

.block_around_tooth {
    width: 316px;
    height: 130px;
    max-width: 97%;
    max-height: 100%;
}

@media (max-width: 992px){
    .block_around_tooth {
        max-width: 220px;       
    }
}

@media (max-width: 480px){
    .block_around_tooth {
        max-width: 180px;       
    }
}

.block_around_tooth_1 {
    position: relative;
    bottom: 20px;
    text-align: right;
}

@media ( max-width:992px) {
    .block_around_tooth_1 {
        right: 20px;
    }
}

@media ( max-width:480px) {
    .block_around_tooth_1 {
        right: 5px;       
    }
}

.block_around_tooth_2 {
    position: relative;
    right: 30px;
    height: 119px;
    text-align: right;
}

@media ( max-width:992px) {
    .block_around_tooth_2 {
        right:20px;
    }
}

@media ( max-width:480px) {
    .block_around_tooth_2 {
        right: 5px;  
    }
}

.block_around_tooth_3 {
    position: relative;
    left: 20px;
    height: 112px;
    text-align: right;
}

@media ( max-width:992px) {
    .block_around_tooth_3 {
        left: -20px; 
    }
}

@media ( max-width:480px) {
    .block_around_tooth_3 {
        left: -5px; 
        top: 20px;  
    }
}

.block_around_tooth_4 {
    position: relative;
    bottom: 20px;
    height: 115px;
    text-align: left;
}

@media ( max-width:992px) {
    .block_around_tooth_4 {
        left: 20px;
    }
}

@media ( max-width:480px) {
    .block_around_tooth_4 {
        left: 5px;   
    }
}

.block_around_tooth_5 {
    position: relative;
    left: 30px;
    height: 106px; 
    text-align: left;
    top: 15px;
}

@media ( max-width:992px) {
    .block_around_tooth_5 {
        left:20px;
       
    }
}

@media ( max-width:480px) {
    .block_around_tooth_5 {
        left: 5px;
        
    }
}

.block_around_tooth_6 {
    position: relative;
    top: 29px;
    right: 20px;
    height: 109px;
    text-align: left;
}

@media ( max-width:992px) {
    .block_around_tooth_6 {
        right: 0px; 
        left: 20px; 
    }
}

@media ( max-width:480px) {
    .block_around_tooth_6 {
        left: 5px;
        
    }
}

.attention_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

@media ( max-width:992px) {
    .attention_block {
        margin-top: 140px;
        
    }
}

@media ( max-width:480px) {
    .attention_block {
        margin-top: 150px;   
    }
}

.text_attention {
    font-size: 20px;
    line-height: 140%;
    color: var(--main-color);
}

@media ( max-width:992px) {
    .text_attention {
        font-size: 17px;
        
    }
}

@media ( max-width:480px) {
    .text_attention {
        font-size: 15px;
        
    }
}


/* *************block registration************ */

.external-block-registration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 845px;
    height: 265px;
    max-width: 97%;
    background:var(--white-color);
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 87px auto 90px auto;
}

@media(max-width: 992px){
    .external-block-registration{
        max-height: 100%;
        height: 97%;           
}
}

@media(max-width: 480px){
    .external-block-registration{
        max-height: 100%;
        height: 97%;           
}
}

.inner-block-registration {   
    width: 821px;
    height: 247px;
    max-width: 97%;
    background:var(--white-color);
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    color:var(--shadow-color);
}

@media(max-width: 992px){
    .inner-block-registration{
        max-height: 100%;
        height: 97%; 
        padding-bottom: 20px;          
}
}

@media(max-width: 480px){
    .inner-block-registration{
        max-height: 100%;
        height: 97%; 
        padding-bottom: 20px;        
}
}

.inner-block-registration h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 29px;
}

.inner-block-registration p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-top: 7px;       
}

.date-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 44px;   
}

@media(max-width: 992px){
    .date-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
}

@media(max-width: 480px){
    .date-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
}


.data-input_name {
    position: relative;
}

/* .date-buttons:-webkit-autofill,
.date-buttons:-webkit-autofill:hover,
.date-buttons:-webkit-autofill:focus,
.date-buttons:-webkit-autofill:active {
    -webkit-background-clip: text;
    
} */

.button_registration {
    border: 1px solid rgba(217, 217, 217, 0.71); 
    height: 57px;
    width: 233px;
    border-radius: 8px;
    background: rgba(217, 217, 217, 0.71);
}

.placeholder_name {
    padding-left: 51px;
}

.placeholder_nomber {
    padding-left: 67px;
}

.button_registration::placeholder {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    color: rgba(27, 29, 31, 0.51);
   
  }

  .button_registration:focus {
    border: 2px solid #46B1DE; 
  }

  .data-input_name::before {
    content: "";
    position: absolute;
    top: 50%;   
    left: 0px;
    transform: translate(50%, -50%);
    width: 22.5px;
    height: 24px;
    background-image: url(../img/img-main/user\ 4.svg); 
  }

.data-input_nomber_phone {
    position: relative;
}

  .data-input_nomber_phone::before {
    content: "";
    position: absolute;
    top: 50%;   
    left: 0px;
    transform: translate(50%, -50%);
    width: 22.5px;
    height: 24px;
    background-image: url(../img/img-main/-phone-in-talk_90490\ 1.svg);

  }

  .data-input::after{
      content: "";
      position: absolute;
      border: 1px solid #1B1D1F;
      top: 50%;
      transform: translate(50%, -50%);
      right: 189px;
      width: 0px;
      height: 22px;
  }

.button-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-color);
    border-radius: 8px;
    padding: 15px 54px;    
    color:var(--white-color); 
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    border: 0;   
}


/* *************pictures************* */

.pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 128px));
    justify-content: center;
    gap: 70px;
}

@media(max-width: 1060px){
    .pictures{
      gap: 10px;         
}
}

/* ************ footer ************* */

.background-footer {
    background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
    margin-top: 91px;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 97%;
    padding: 60px 10px 0 10px;
}


@media(max-width: 690px){
    .footer_wrap{
      display: block;
      padding: 30px 12px;          
}
}

.footer_left_side {
    color: #0F2D4A;
}

.footer-logo {
    display: flex;
    gap: 6px; 
    align-items: center;  
}

.logo-text-footer {
    font-family: "Sofia Sans";
    font-weight: 400;
    font-size: 38px;
    line-height: 140%;   
}

.dentist-footer {
    font-size: 26px;
}

.homeservic {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
}


.footer-home {
    margin-top: 30px;
}

.footer-services {
    margin-top: 20px;
}

.language-footer {
    display: flex;
    height: 23px;
    width: 77px;
    color:var(--shadow-color);
    margin-top: 27px;
    font-size: 20px;
    line-height: 23px;
}

.flex {
    display: flex;
}

.footer-hours {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%; 
    padding: 67px 0 0 160px;    
}

.homeservic a:hover {
    color: var(--white-color);
}

.language-footer li a:hover {
    color: var(--white-color);
}

.hours-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 7px;
}

.footer-contacts {
    color:var(--white-color);
    padding-right: 67px;
}

@media(max-width: 692px){
    .footer-contacts {
      margin: 46px 0 0 0;          
}
}

@media(max-width: 480px){
    .footer-contacts {
      margin: 46px 0 0 0;          
}
}

.footer-contacts h3 {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
}

@media(max-width: 480px){
    .footer-contacts h3 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;              
}
}

.inform-contacts {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;   
    margin-top: 18px;
}

@media(max-width: 480px){
    .inform-contacts {
      padding-top: 26px;         
}
}

.adress {
    margin-top: 15px;
}

.footer-phone {
    margin: 20px 0 0 43px;
}

.footer-nomber {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color:var(--white-color);
}

.footer_link:hover:after {
    content: "";
    display: block;
    position: absolute;
    padding-top: 3px;
    border-bottom: 2px solid var(--white-color);
    width: 100%;
  }

.footer-nomber::before{
    content: "";
    position: absolute;
    left: -43px;
    width: 28px;
    height: 28px;
    background-image: url(../img/img-footer/2849835-call-cell-communication-interface-multimedia-phone-telephone_108000\ 1.png);
}

.footer-messengers {
    display: flex;
    justify-content: space-between;
    width: 137px;
    margin-top: 10px;
}

@media(max-width: 480px){
    .footer-messengers {
      display: none;
}
}

.footer-instagram_wrap{
    margin: 13px 0 0 40px;   
}

.footer-instagram {    
    color:var(--white-color);
    position: relative;    
}

.footer-instagram::before{
    content: "";
    position: absolute;
    left: -40px;
    width: 27px;
    height: 27px;
    background-image: url(../img/img-footer/icons8-instagram\ 2.svg);
}

.whatsapplogo {
    height: 30px;
}

.footer-gmail_wrap {
    margin: 13px 0 0 38px;
}

.gmail-footer {
    color: var(--white-color);
    position: relative;
}

.gmail-footer::before{
    content: "";
    position: absolute;
    left: -38px;
    width: 32px;
    height: 32px;
    background-image: url(../img/img-footer/email.png);
}

.copyright {
    margin: 12px 0 0 210px;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
}

@media (max-width: 480px) {
    .copyright {
        margin-top: 34px;
    }
}

